* {
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: aqua;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;

}


.divForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#btnConsultar{
   margin-top: 20px;
}
 .form{
    width: 500px;
    display: flex;
    flex-direction: column;

}
.input-group{
    margin-top: 20px;
   
  
}
.table{
    border: 100px;
   text-align: center;
   table-layout:fixed;
   border-collapse: separate;
   border-spacing: 2px;
   margin-top: 20px;
}
.botoncitos{
    display: flex;
    flex-direction: column;
   align-content: center;
   align-items: center;
   
 
    
   
}
.btnRequisitos{
  margin: 30px;
  
}

